<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h1 class="mt-5 logo" style="font-size: 80px;">{{ logo }}</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


    import store from '../store.js'
    export default {
        name: "Home",

        computed:{
            logo() {
                return this.$store.getters.logo
            }

        }
    }
</script>

<style scoped>
    .logo
    {

    }

</style>