<template>
   <div>
       <div class="btn-wrapper">
           <router-link to="/groups/new" class="btn btn-primary btn-sm">New</router-link>
       </div>
       <table class="table">
           <thead>
                <th>Name</th>
                <th>Description</th>
           </thead>
           <tbody>
           <template v-if="!groups.length">
               <tr>
                   <td colspan="4" class="text-center">No Groups Available</td>
               </tr>
           </template>
           <template v-else>
               <tr v-for="group in groups" :key="group.id">
                   <td>{{group.name}}</td>
                   <td>{{group.description}}</td>
                   <td>
                       <router-link :to="`/group/${group.id}`">View</router-link>
                   </td>
               </tr>
           </template>
           </tbody>

       </table>
   </div>
</template>

<script>
    export default {
        name: "list",
        mounted(){
            if(this.$store.dispatch('getGroups')){
                return;
            }

        },
        computed:{
            groups(){
                return this.$store.getters.groups;
            }
        }

    }
</script>

<style scoped>
    .btn-wrapper{
        text-align: right;
        margin-bottom: 20px;
    }
</style>