<template>
    <div class="group-new">
        <form @submit.prevent="add">
            <div class="table">
                <tr>
                    <th>Name</th>
                    <td>
                        <input type="text" class="form-control" v-model="group.name" placeholder="Group Name" />
                    </td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>
                        <input type="text" class="form-control" v-model="group.description" placeholder="Group Description" />

                    </td>
                </tr>
            </div>
        </form>
    </div>
</template>

<script>
    import validate from 'validate.js';
    export default {
        name: "new",
        data(){
            return{
                group:{
                    name: '',
                    description: ''
                },
                errors: null
            };
        },
        methods:{
            add(){
                this.errors = null;
                const constraints = this.getConstraints();

                const errors = validate(this.$data.group, constraints);

                if(errors){
                    this.errors = errors;
                    return;
                }

                //send the group data to the Be api
            },
            getConstraints(){
                return{
                    name:{
                        presence: true,
                        length: {
                            minimum: 3,
                            message: 'Must be at least 3 characters ling'
                        }
                    },
                    description:{
                        presence: true,
                        length: {
                            minimum: 5,
                            message: 'Must be at least 3 characters ling'
                        }
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>