<template>
    <div class="login row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Register</div>
                <div class="card-body">
                    <form @submit.prevent="authenticate">
                        <div class="form-group row">
                            <label>Email:</label>
                            <input type="email" v-model="form.email" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group row">
                            <label>Login:</label>
                            <input type="text" v-model="form.login" class="form-control" placeholder="Login">
                        </div>
                        <div class="form-group row">
                            <label>Password:</label>
                            <input type="password" v-model="form.password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group row">
                            <label>Confirm Password:</label>
                            <input type="password" v-model="form.confirmPassword" class="form-control"
                                   placeholder="Confirm Password">
                        </div>
                        <div class="form-group row">
                            <input type="submit" value="Register">
                        </div>
                        <div class="form-group row" v-if="authError">
                            <p class="error">
                                {{ authError }}
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Register",
        data(){
            return{

                form:
                    {
                        email: '',
                        login: '',
                        password: '',
                        confirmPassword: ''
                    }

            }
        },






    }
</script>

<style scoped>

</style>